:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --interactive-main-title: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.main-img-size {
  width: 370px;
  height: 294px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*-------------------------INDEX.HTML--------------------*/
/*-------------------------HEADER--------------------*/
.header-logo-beginning {
  color: var(--accent-color);
}

.header-logo-end {
  color: #000000;
}

/* навигация */
.header-link {
  color: var(--title-text-color);
}

/* контакты */
.header-mail,
.header-tel {
  color: #757575;
}

/*----------------------HERO----------------------*/
.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--interactive-main-title);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--interactive-main-title);
}

/*-----------------------ABOUT---------------------*/

.main-feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.main-feature-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* чем мы занимаемся */
.main-specifics-title {
  color: var(--title-text-color);
}

/*-----------------------TEAM---------------------*/

.team {
  background-color: #f5f4fa;
}
.main-team-title {
  color: var(--title-text-color);
}

.main-teamcard {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /*text-align: center;*/
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.main-teamcard-text {
  font-size: 16px;
  line-height: 1.18;
  /*text-align: center;*/
  letter-spacing: 0.03em;
}

/*-----------------------FOOTER-------------------*/
.footer {
  background-color: var(--background-color);
}

.footer-logo-beginning {
  color: var(--accent-color);
}

.footer-logo-end {
  color: var(--interactive-main-title);
}

.footer-address-maps {
  color: var(--interactive-main-title);
}

.footer-contacts-mail {
  color: var(--footer-contacts-color);
}

.footer-contacts-tel {
  color: var(--footer-contacts-color);
}

/*-----------------------PORTFOLIO.HTML-------------------*/

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.btn-accent:hover,
.btn-accent:focus {
  color: var(--interactive-main-title);
  background-color: var(--accent-color);
}

.portfolio-title {
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
